{% extends "master.jinja2" %}

{% block global_settings %}
context:
  test_character_delay: 10

timeouts:
  job:
    minutes: {% if job_timeout is defined %}{{ job_timeout }}{% else %}90{% endif %}
  action:
    minutes: 10
  connection:
    minutes: 2
{% endblock global_settings %}

{% block priority %}{{LAVA_JOB_PRIORITY}}{% endblock priority %}
{% block visibility %}
visibility:
  group:
      - lkft
{% endblock visibility %}

{% block metadata %}
  android.build: {{ANDROID_META_BUILD}}
  android.name: {{ANDROID_META_NAME}}
  android.url: {{ANDROID_META_URL}}
  android.fastboot: "platform-tools_r27.0.1"
{% endblock metadata %}

{% block protocols %}
protocols:
  lava-lxc:
    name: lxc-target
    template: ubuntu
    distribution: ubuntu
    release: xenial
    arch: amd64
{% endblock protocols %}

{% block actions %}
- deploy:
    namespace: tlxc
    timeout:
      minutes: 15
    to: lxc
    packages:
    - wget
    - zip
    - unzip
    os: ubuntu

- boot:
    namespace: tlxc
    prompts:
    - 'root@(.*):/#'
    - 'console:/'
    - ':/'
    timeout:
      minutes: 5
    method: lxc

- test:
    namespace: tlxc
    timeout:
      minutes: 10
    definitions:
    - repository: https://git.linaro.org/qa/test-definitions.git
      from: git
      path: automated/linux/android-platform-tools/install.yaml
      name: install-android-platform-tools-r2701
      parameters:
        LINK: 'https://dl.google.com/android/repository/platform-tools_r27.0.1-linux.zip'

{% block deploy_target %}
{% endblock deploy_target %}

{% block boot_target %}
{% endblock boot_target %}

{% block test_target %}
{% endblock test_target %}

{% endblock actions %}
