context:
 bootloader_prompt: juno#

device_type: juno-r2
job_name: lkft-ltp-{{testname}}-${KERNEL_BRANCH}-${BUILD_NUMBER}
timeouts:
  job:
    minutes: 60
  action:
    minutes: 10
priority: ${LAVA_JOB_PRIORITY}
visibility: public

metadata:
  git branch: ${KERNEL_BRANCH}
  git repo: ${KERNEL_REPO}
  git commit: ${KERNEL_COMMIT}
  git describe: ${KERNEL_DESCRIBE}
  make_kernelversion: "${MAKE_KERNELVERSION}"
  kernel-config: ${KERNEL_CONFIG_URL}
  kernel-defconfig: ${KERNEL_DEFCONFIG_URL}
  ltp-{{testname}}-tests__url: ${LTP_URL}
  ltp-{{testname}}-tests__version: "${LTP_VERSION}"
  ltp-{{testname}}-tests__revision: "${LTP_REVISION}"
  build-url: ${BUILD_URL}
  build-location: ${SNAPSHOTS_URL}/${BASE_URL}
  series: lkft

actions:
- deploy:
    namespace: recovery
    timeout:
      minutes: 10
    to: vemsd
    recovery_image:
      url:  ${RECOVERY_IMAGE_URL}
      compression: zip

- deploy:
    namespace: oe
    timeout:
      minutes: 10
    to: tftp
    os: oe
    kernel:
      url: ${KERNEL_URL}
      type: image
    dtb:
      url: ${DTB_URL}
    nfsrootfs:
      url: ${NFSROOTFS_URL}
      compression: xz

- boot:
    namespace: oe
    timeout:
      minutes: 10
    connection-namespace: recovery
    method: u-boot
    commands: nfs
    auto_login:
      login_prompt: 'login:'
      username: root
    prompts:
    - root@(.*):~#

- test:
    namespace: oe
    timeout:
      minutes: 60
    definitions:
    - repository: git://git.linaro.org/qa/test-definitions.git
      from: git
      path: automated/linux/ltp/ltp.yaml
      parameters:
        SKIP_INSTALL: 'true'
        TST_CMDFILES: '{{testname}}'
        SKIPFILE: 'skipfile-lsk-juno'
        TIMEOUT_MULTIPLIER: 3
      name: ltp-{{testname}}-tests
      timeout:
        minutes: 60
