{% extends "lkft.jinja2" %}

{% block global_settings %}
{{ super() }}
context:
  test_character_delay: 10
{% endblock global_settings %}

{% block protocols %}
protocols:
  lava-lxc:
    name: lxc-target
    template: debian
    distribution: debian
    release: jessie
    arch: amd64
    mirror: http://deb.debian.org/debian
{% endblock protocols %}

{% block actions %}
- deploy:
    namespace: tlxc
    timeout:
      minutes: 15
    to: lxc
    packages:
    - wget
    - unzip
    os: debian

- boot:
    namespace: tlxc
    prompts:
    - 'root@(.*):/#'
    timeout:
      minutes: 5
    method: lxc

- test:
    namespace: tlxc
    timeout:
      minutes: 10
    definitions:
    - from: inline
      name: install-google-fastboot
      path: inline/install-google-fastboot.yaml
      repository:
        metadata:
          format: Lava-Test Test Definition 1.0
          name: install-fastboot
          description: "Install fastboot provided by google"
        run:
          steps:
          - wget http://dl.google.com/android/repository/platform-tools_r26.0.0-linux.zip
          - unzip -q platform-tools_r26.0.0-linux.zip
          - ln -s `pwd`/platform-tools/fastboot /usr/bin/fastboot
          - ln -s `pwd`/platform-tools/adb /usr/bin/adb
          - fastboot --version

{% block deploy_target %}
{% endblock deploy_target %}

{% block boot_target %}
{% endblock boot_target %}

{% block test_target %}
{% endblock test_target %}

{% endblock actions %}
