[Unit]
Description=Bluetooth Init Script for HiKey
After=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/btsetup-hikey.sh

[Install]
WantedBy=multi-user.target
