{% extends device_type %}

{% block job_name %}{{JOB_NAME}}-{{ANDROID_META_BUILD}}-{{testname}}{% endblock job_name %}

{% block test_target %}
{{ super() }}
- test:
    namespace: tlxc
    timeout:
      minutes: {% if job_timeout is defined %}{{ job_timeout-5|int|abs }}{% else %}300{% endif %}
    definitions:
    - repository: https://git.linaro.org/qa/test-definitions.git
      from: git
      path: automated/android/tradefed/tradefed.yaml
      params:
{% if VTS_PKG_URL is defined %}
        TEST_URL: "{{VTS_PKG_URL}}"
{% else %}
        TEST_URL: "http://testdata.linaro.org/vts/oreo-mr1-vts-release-06262018/android-vts.zip"
{% endif %}
{% if ANDROID_VERSION_SUFFIX is defined and ANDROID_VERSION_SUFFIX == 'master' %}
        ANDROID_VERSION: "aosp-master"
{% endif %}
        TEST_PARAMS: "run {{testcommand}} --skip-device-info"
        TEST_PATH: "android-vts"
        RESULTS_FORMAT: "atomic"
      name: {{testname}}
{% endblock test_target %}
