{% extends device_type %}

{% block job_name %}{{JOB_NAME}}-{{ANDROID_META_BUILD}}-{{testname}}-{{abi}}{% endblock job_name %}

{% block test_target %}
{{ super() }}
- test:
    namespace: tlxc
    timeout:
      minutes: {% if job_timeout is defined %}{{ job_timeout-5|int|abs }}{% else %}300{% endif %}
    definitions:
    - repository: https://git.linaro.org/qa/test-definitions.git
      from: git
      path: automated/android/tradefed/tradefed.yaml
      params:
        TEST_PARAMS: "run {{testname}} --abi {{abi}} --disable-reboot --skip-preconditions --skip-device-info"
        TEST_URL: "http://testdata.validation.linaro.org/cts/android-cts-8.1_r1.zip"
      name: {{testname}}-{{abi}}
{% endblock test_target %}
